/* HEADER SECTION */
header {
    height: 50px;
}

.w-logo {
    width: 40px;
}

.bg-searchbar {
    background-color: #e5e5e5;
}

/* SIDEBAR SECTION */
.sidebar {
    background-color: #051e34;
    width: 50px;
    height: calc(100vh - 50px);
}

.bg_sidebar {
    background-image: url(../img/img/sidebar-bg.png);
}

/* MAIN SECTION*/
main {
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    top: 0;
    left: 50px;
}

.section_top {
    background-color: #1b72e8;
    margin-top: 50px;
}

.btn-section-top {
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 20px;
    font-size: 12px;
}

.img_avatar{
    width: 25px;
}

/* UTILITY */
.font-14 {
    font-size: 14px;
}

.highlight-item:hover {
    background-color: rgba(255, 255, 255, 0.479);
}

/* OFFCANVAS */
.btn-offcanvas {
    background-color: #1b72e8;
    color: white;
    border: 1px solid white;
    margin-left: 10px;
}

/* RESPONSIVE */
/* XS */
@media screen and (min-width: 576px) {
    .offcanvas_size {
        width: 100%;
    }
}

/* MD */
@media screen and (min-width: 768px) {
    .md-text-center {
        text-align: center;
    }
}

/* LG */
@media screen and (min-width: 992px) {
    main {
        width: calc(100vw - 150px);
        left: 150px;
    }

    .sidebar {
        width: 150px;
    }

    .lg-text-center {
        text-align: center;
    }

    .offcanvas_size {
        width: 50%;
    }